commons-converter/.classpath
commons-converter/.project
commons-converter/.settings/org.eclipse.jdt.core.prefs
*.versionsBackup
commons-converter/target/
commons-formatter/target/classes/nl/unionsoft/formatter/Formatter.class
commons-formatter/target/classes/nl/unionsoft/formatter/FormatterConfig$FormatterScope.class
commons-formatter/.classpath
commons-formatter/.project
commons-formatter/target/classes/nl/unionsoft/formatter/FormatterConfig.class
commons-various/target/classes/nl/unionsoft/common/scheduling/MethodInvokingJobFactory$StatefulMethodInvokingJob.class
*.class
commons-formatter/target/
commons-list/target/
commons-various/target/classes/nl/unionsoft/formatter/config.properties
commons-various/target/classes/nl/unionsoft/formatter/spring/application-context.xml
commons-various/target/test-classes/log4j.xml
commons-list/.project
commons-various/.project
commons-formatter/.settings/org.eclipse.jdt.core.prefs
commons-list/.classpath
commons-list/.settings/org.eclipse.jdt.core.prefs
commons-various/.classpath
commons-various/.settings/org.eclipse.jdt.core.prefs
commons-various/target/classes/.gitignore
commons-various/target/test-classes/.gitignore
commons-various/target/common-formatter-sources.jar
commons-various/target/
pom.xml.releaseBackup
release.properties
commons-converter/pom.xml.releaseBackup
commons-formatter/pom.xml.releaseBackup
commons-list/pom.xml.releaseBackup
commons-various/pom.xml.releaseBackup
